<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wisestudy.wisestudy">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/mAppTheme"
        android:name="com.wisestudy.application.LoginInit">

        <activity android:name="com.wisestudy.landing.activity.LandingActivity">
        </activity>
        <activity android:name="com.wisestudy.user.activity.UserCreateActivity"></activity>
        <activity android:name="com.wisestudy.login.activity.LoginActivity"></activity>
        <activity android:name="com.wisestudy.planner.activity.PlannerActivity"></activity>
        <activity android:name="com.wisestudy.nongroup.activity.StudySearchActivity">

        </activity>
        <activity android:name="com.wisestudy.nongroup.activity.NonGruopActivity"/>
        <activity android:name="com.wisestudy.groupleader.activity.GroupManagementActivity">
        </activity>
        <activity android:name="com.wisestudy.groupleader.activity.CreateStudyActivity">
        </activity>
        <activity android:name="com.wisestudy.groupleader.activity.CalendarModifyActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.wisestudy.groupleader.activity.GroupManagement">

        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="861c70923d0f32c7b649ebe2fa8fedfd" />
    </application>

</manifest>